<%- include('./partials/header.ejs')%>
    <!-- Your HTML content here -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card text-white bg-success shadow-sm rounded">
                    <div class="card-body text-center">
                        <h2 class="card-title">Edit student information</h2>
                        <p class="card-text">Edit student profile quickly and easily.</p>
                        <form method="post">
                            <div class="mb-3">
                                <label for="name" class="form-label">Name</label>
                                <input type="text" class="form-control" id="name" name="name" />
                            </div>
                            <div class="mb-3">
                                <label for="age" class="form-label">Age</label>
                                <input type="text" class="form-control" id="age" name="age" />
                            </div>
                            <div class="mb-3">
                                <label for="fees" class="form-label">Fees</label>
                                <input type="text" class="form-warning" id="fees" name="fees" />
                            </div>
                            <button type="submit" class="btn btn-secondry w-100">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <%- include('./partials/footer.ejs')%>